<!DOCTYPE html>
<html>
<head>
  <title>Melanie Crissey</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
</head>
<body>
<div id="header">
  <a href="/welcome/index.html"><h1>Melanie Crissey</h1></a>
  <nav class="nav" role="navigation">
    <ul>
      <li>
        <%= nav_link 'About', '/aboutme/index.html' %> 
      </li>
      <li>
        <%= nav_link 'Blog', '/news/index.html' %> 
      </li>
      <li>
        <%= nav_link 'Gallery', '/gallery/index.html' %> 
      </li>
      <li>
        <%= nav_link 'Work', '/work/index.html' %>
      </li>
    </ul>
  </nav>
</div>

<%= yield %>

<!--Commenting out counter
<% 
def increment_counter
  if session[:counter].nil?
    session[:counter] = 0
  end
  session[:counter] += 1
end
@count = increment_counter
@counter_message = "You have been here #{@count} times."
%>


<div class="counter">
<p>
<%= @counter_message %>
</p>
</div>

//-->


</body>
</html>
