<!DOCTYPE html>
<html>
<head>
  <title>Melanie Crissey</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

<!--Commenting out counter
<% 
def increment_counter
  if session[:counter].nil?
    session[:counter] = 0
  end
  session[:counter] += 1
end
@count = increment_counter
@counter_message = "You have been here #{@count} times."
%>


<div class="counter">
<p>
<%= @counter_message %>
</p>
</div>

//-->


</body>
</html>
